<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>FullStack Developer</title>
  <meta name="viewport"
        content="width=device-width, userEntity-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />
  <link rel="stylesheet" href="" th:href="@{/css/style.css}" />
</head>
<body>
<div class="wrapper">
  <div>
    <div id="message" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert"
         style="display: none;">
      <p>Link is not validity!</p>
    </div>
    <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert"
         th:if="${error}">
      <span class="font-medium" th:text="${error}"></span>
    </div>
    <div class="flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3" role="alert"
         th:if="${message}">
      <p th:text="${message}"></p>
    </div>
    <!--        <header th:insert="layouts/header :: header"> </header>-->
    <main class="flex justify-center items-center h-screen">
      <div style="width: 600px;">
        <div class="text-center mb-10">
          <h1 class="text-4xl font-bold">Edit Project</h1>
        </div>
        <form id="projectFrom" th:action="@{'/projects/admin/' + ${project.id} + '/edit'}" method="post" enctype="multipart/form-data">
          <div class="mb-6">
            <label for="link" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Link to Your Project</label>
            <input name="link" type="text" id="link"
                   th:value="${project.link}"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
          </div>
          <div class="mb-6">
            <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Title</label>
            <input name="title" type="text" id="title"
                   th:value="${project.title}"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
          </div>
          <div class="mb-6">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Description</label>
            <textarea name="description" id="description" rows="4"
                      th:text="${project.description}"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
          </div>
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Edit Project
          </button>
        </form>
      </div>
    </main>
    <!--        <div th:insert="layouts/footer :: footer"> </div>-->
  </div>
</div>
<script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
<script>
    const link = document.getElementById("link");
    const message = document.getElementById("message");
    let timeoutId;
     const isValidUrl = urlString => {
	  	const urlPattern = new RegExp('^(https?:\\/\\/)?'+ // validate protocol
	    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // validate domain name
	    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // validate OR ip (v4) address
	    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // validate port and path
	    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // validate query string
	    '(\\#[-a-z\\d_]*)?$','i'); // validate fragment locator
	    return !!urlPattern.test(urlString);
	}

    document.getElementById("projectFrom").addEventListener("submit", (event) => {
        if (!isValidUrl(link.value)) {
            event.preventDefault();
            message.style.display = "block";

            new Promise((resolve, reject) => {
                timeoutId = window.setTimeout(() => {
                    message.style.display = "none";
                    resolve();
                }, 4000)
            }).then(data => window.clearTimeout(timeoutId))
        }
    });

</script>
</body>
</html>